/* الصفحة */
.details-page {
  padding: 30px;
}

/* زر الرجوع */
.back-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* الحاوية */
.details-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* الصورة */
.details-img {
  width: 300px;
  border-radius: 12px;
}

/* النص */
.details-info {
  max-width: 500px;
}

.details-info h1 {
  margin-bottom: 10px;
}

/* التقييم */
.rating {
  color: #e53935;
  font-weight: bold;
  margin-bottom: 10px;
}

/* التاريخ */
.date {
  color: gray;
  margin-bottom: 10px;
}

/* الوصف */
.desc {
  line-height: 1.6;
}
