.details-page {
  padding: 30px;
}

.back-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  gap: 30px;
  align-items: center;
}

.details-img {
  width: 300px;
  border-radius: 12px;
}

.details-info {
  max-width: 500px;
}

.details-info h1 {
  margin-bottom: 10px;
}

.rating {
  color: #e53935;
  font-weight: bold;
  margin-bottom: 10px;
}

.date {
  color: gray;
  margin-bottom: 10px;
}

.desc {
  line-height: 1.6;
}
